.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--bg-app);
}

.main {
  flex: 1;
  overflow: hidden;
  display: flex;
}
